# Symbols
.alpackages/
# Cache
.alcache/
# snapshots
.snapshots/
# extension templates
.altemplates

# Paket files
paket-files/
packages/

# AL Test runner related files
.altestrunner
# Testing Output folder
.output/
# Test results file
TestResults.xml

# Rapid Application Development File
rad.json

# Extension App-files
*.app

# Translation Base-file (it's autoregen'd on compile)
*.g.xlf

# License-file (Juuuuust in case)
*.flf
*.bclicense

# Launch Config is too user/environ specific
launch.json